<div class="container">
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px">
          <a [routerLink]="['/login']">Sign In</a>
        </div>
      </div>
      <div class="panel-body">
        <form id="signupform" class="form-horizontal" role="form" #signupForm="ngForm">
          <div class="form-group" [class.has-error]="email.invalid && email.touched">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="email" #email="ngModel" placeholder="Email Address" [(ngModel)]="signupData.email"
                required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
              <span class="help-block" *ngIf="email.errors?.required && email.touched">
                Email required
              </span>
              <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
                Email is Invalid
              </span>
            </div>
          </div>

          <div class="form-group" [class.has-error]="username.invalid && username.touched">
            <label for="firstname" class="col-md-3 control-label">User Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="username" #username="ngModel" placeholder="User Name" [(ngModel)]="signupData.username"
                required>
              <span class="help-block" *ngIf="username.errors?.required && username.touched">
                Set some Username...
              </span>
            </div>
          </div>
          <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup"
          appConfirmEqualValidator [class.has-error]="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
          <!-- [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required"> -->
            <div class="form-group" [class.has-error]="password.invalid && password.touched">
              <label for="password" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" parent='true' class="form-control" name="password" #password="ngModel" placeholder="Password" 
                [(ngModel)]="signupData.password" required>
                <span class="help-block" *ngIf="password.errors?.required && (password.touched || password.dirty)">
                  Password cannot be empty...
                </span>
              </div>
            </div>
            <div class="form-group" [class.has-error]="confirmPassword.invalid && confirmPassword.touched">
              <label for="confirmPassword" class="col-md-3 control-label">Confirm Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" name="confirmPassword" #confirmPassword="ngModel"
                  placeholder="Confirm Password" [(ngModel)]="signupData.confirmPassword" parent='false' required>
                  <span class="help-block"
                  *ngIf="confirmPassword.errors?.required && (confirmPassword.dirty || confirmPassword.touched)">
              Confirm Password is required
            </span>
            <span>{{confirmPassword.touched}}{{passwordGroup.errors?.notEqual}}{{passwordGroup.errors?.notEqual}}{{confirmPassword.errors?.required}}</span>
            <span class="help-block" *ngIf="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required && (confirmPassword.dirty || confirmPassword.touched)">
              Password and Confirm Password does not match
            </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-signup" type="button" class="btn btn-info" [disabled]="signupForm.invalid">
                <i class="icon-hand-right"></i>Sign Up</button>
              <span style="margin-left:8px;">or</span>
            </div>
          </div>
          <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-fbsignup" type="button" class="btn btn-primary">
                <i class="icon-facebook"></i> Sign Up with Stackoverflow</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- (ngSubmit)="saveUser(signupData)"  -->

angular generated form {{signupForm.value | json}}